body {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    margin: auto;
    padding: 10px;
    background-color: #250738;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    box-sizing: border-box;
}

p {
    margin: 0 0 5px 0;
    color: #504f50;
}


.main-container {
    width: 400px;
    max-width: 100%;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.form-header {
    background-color: #8423ce;
    font-size: 18px;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.form-header img {
  height: 40px;
  width: 40px;
}

.form-header .title {
  margin: 0px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-container {
    padding: 15px;
    background-color: #fff;
}

input {
    width: 100%;
    padding: 2px 10px;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 15px;
}

button {
    width: 100%;
}
